*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #F3F4F6;
}

main{
    margin: 20px auto; 
    width: 75vw;
    text-align: center;
}

section{
    margin: 20px auto;
}

h1{
    margin-bottom: 20px;
}

h2{
    background-color: darkcyan;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

input{
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid ; 
    width: 20vw;
}

button{
    background-color: #D97706;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid; 
}

p{
    font-size: 18px;
    margin-top: 20px;
}

#caixa{
    width: 350px;
    height: 150px;
    background-color: rgb(45, 72, 112);
    color: #ffff;
    margin: 0 auto;
}

.btn{
    padding: 15px 30px;
}

.area-add-sub{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.area-add-sub button{
    padding: 10px;
    
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    width: 50%;
    background-color: rgb(220, 241, 245);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}